<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>新增设备</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/x-icon" href="/cctv/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/cctv/css/device/insert.css"/>
    <script type="text/javascript" src="/cctv/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/cctv/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="/cctv/js/device/insert.js"></script>
  </head>
  <body>
    <div th:replace="navigation::navigation"></div>
    <div id="Tip"></div>
    <div id="main">
      <div id="mainInfo">
        <div id="mainTop">新增设备</div>
        <form id="form1" action="insert" method="post">
        <table id="tab1">
          <tr>
            <td width="150px" align="right"><a>*</a>设备名称：</td>
            <td width="300px"><input type="text" class="textbox" name="name"/></td>
          </tr>
          <tr>
            <td align="right"><a>*</a>设备型号：</td>
            <td><input type="text" class="textbox" name="model"/></td>
          </tr>
          <tr>
            <td align="right"><a>*</a>生成厂家：</td>
    	    <td><input type="text" class="textbox" name="factory"/></td>
       	  </tr>
          <tr>
       	    <td align="right"><a>*</a>出厂编号：</td>
       	    <td><input type="text" class="textbox" name="number1"/></td>
          </tr>
          <tr>
    	    <td align="right"><a>*</a>证书编号：</td>
    	    <td><input type="text" class="textbox" name="number2"/></td>
    	  </tr>
          <tr>
    	    <td align="right"><a>*</a>有效日期：</td>
    	    <td><input type="text" class="textbox" name="term"/></td>
    	  </tr>
          <tr>
    	    <td align="left"></td>
       	    <td><input type="button" value="确定" class="combtn"></td>
       	  </tr>
        </table>
        </form>
      </div>
    </div>
    <div style="width:100%;margin-top:20px;float:left;color:#ccc;text-align: center;font-size:14px;">
      <p>香港麦斯迪埃高科技有限责任公司</p>
      <p>Copyright © 2017 All Rights Reserved</p>	
    </div>
  </body>
</html>